/*
Play with flex at: https://flexboxfroggy.com/
 */

/*
Display child elements (<sections> in this case) in flex (default flex-direction: row)
 */
main {
    display: flex;
}

/*
Sections are half the width of the viewport
 */
section {
    width: 50%;
    border: solid black;
    border-radius: 0.5em;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form label {
    margin-left: 1em;
    margin-right: 1em;
}

form input[type="radio"] {
    display: inline;
    width: 5em;
}